# http://documentup.com/skwp/git-workflows-book#appendix-a---the-gitconfig

[alias]
    co = checkout
    cp = cherry-pick
    g = grep --extended-regexp --break --heading --line-number --ignore-case --show-function
    worddiff = diff --color-words
    diffw = diff -w --ignore-blank-lines
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
[core]
    editor = ed --loose-exit-status --prompt 'ed> '  # ed challenge :)
    pager = diff-so-fancy | less --tabs=4 -RFX  # word-highlight diffs
    excludesfile = ~/.gitignore_global
[color "diff"]
    meta = magenta
[help]
    autocorrect = 1    # fix typos

[push]
    # https://git-scm.com/docs/git-config.html#git-config-pushdefault
    default = current  # default in Git 1.x

# Autoremove already deleted remote branches
[remote "origin"]
    prune = true
[remote "upstream"]
    prune = true

[include]
    # Use separate file for username, credentials, etc
    path = ~/.gitconfig.local
